<head>

  {% load staticfiles %}

  <meta charset="utf-8"/>

  <!-- load plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- load static files -->
  <script type="text/javascript" src="{% static 'bd_app/js/jsUtil.js' %}"></script>

</head>

<body>

<h2>Cohort Analysis App</h2>

<p><a href="{% url 'bd_app:index' %}">Home</a></p>

<div>
  <p>
    <h4>Instructions:</h4>
    <p>
      Select cancer cohort and other clinical and molecular parameters<br>
      to analyze differences in the selected cohort<br>
    </p>
  </p>
</div>

{% block content %}{% endblock content %}

</body>