{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="em">
  <head>

    {% load staticfiles %}

    <meta charset="utf-8"/>
    <meta http-equv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>pyQlik</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- load plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- load static files -->
    <script type="text/javascript" src="{% static 'bd_app/js/km_plotUtil.js' %}"></script>
    <script type="text/javascript" src="{% static 'bd_app/js/jsUtil.js' %}"></script> 

  </head>

  <body>

    <!-- static navbar -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">

        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"></button>
        </div>
      
        <a class="navbar-brand" href="{% url 'bd_app:index' %}">Query</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'bd_app:help' %}">Help</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a>v0.1 beta</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="page-header">
        {% block header %}{% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div>

<!--
    <h2>Cohort Analysis App</h2>

    <p><a href="{% url 'bd_app:index' %}">Home</a></p>

    <div>
      <p>
        <h4>Instructions:</h4>
        <p>
          Select cancer cohort and other clinical and molecular parameters<br>
          to analyze differences in the selected cohort<br>
        </p>
      </p>
    </div>

-->
  </body>
</html>