{% extends "bd_app/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block header %}

  <div class="jumbotron">
    <h2>Chart Features:</h2></br>
    <ul>
   	  <li>Hover cursor over chart to view chart values</li>
      <li>Hover cursor over chart to reveal chart options in top right window pane</li>
      <li>Click and drag cursor over chart to zoom on desired region</li>
    </ul>
  </div>

{% endblock header %}

{% block content %}

<div id="reset">
  <form action="{% url 'bd_app:index' %}">
    {% csrf_token %}

    {% buttons %}

     <button type="submit" class="btn btn-primary">reset</button>

    {% endbuttons %}

  </form>
</div>

<div id="test"></div>
<div id="output_test" style="width: 50%; height: 500px;">
  <script>
	  scatter("{{ exp_data|escapejs }}")
  </script>
</div>

{% endblock content %}